{% extends 'base.html' %}
 {% block content %}

<div class="row">
     {% for post in posts %}
    <div class="card">
    <a href="{% url 'post_detail' pk=post.pk %}"><h2>{{ post.title }}</h2></a>

      <h5>{{ post.created_date }}</h5>
      <div>{{post.text}}</div>
      <p>I just wanted to teach others how Korean alphabets work and what they look like..</p>
           <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count}}</a>
      <p></p>
    </div>
  </div>



 {% endfor %}
{% endblock %}

